<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834789360637-v8e48ofbg9e5ljefq90kp3h46urdak86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834789360637-v8e48ofbg9e5ljefq90kp3h46urdak86</string>
	<key>API_KEY</key>
	<string>AIzaSyB_0p1rfJbJ9BSqESqVfE36dKX3xcD70s4</string>
	<key>GCM_SENDER_ID</key>
	<string>834789360637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>howest.jensdemuynck.covid19</string>
	<key>PROJECT_ID</key>
	<string>covid19-1e7a0</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-1e7a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834789360637:ios:43a09bd0f3092778240f94</string>
	<key>DATABASE_URL</key>
	<string>https://covid19-1e7a0.firebaseio.com</string>
</dict>
</plist>